 .u-section-1 {
  background-image: url("../assets/img/cant-access.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 5px 2px 0px rgba(255,255,255,0.85);
  margin: 403px 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 5px 2px 0px rgba(255,255,255,0.85);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 0 309px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 40px 288px 0 auto;
  padding: 9px 62px 10px 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  border-style: none;
  font-weight: 700;
  margin: -45px auto 44px 224px;
  padding: 9px 51px 9px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    margin-right: 88px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 237px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 112px;
  }
}