.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1867px;
}

.u-section-1 .u-image-1 {
  width: 65px;
  height: 57px;
  margin: 12px auto 0 33px;
}

.u-section-1 .u-shape-1 {
  width: 494px;
  height: 57px;
  margin: -57px auto 0 304px;
}

.u-section-1 .u-shape-2 {
  width: 241px;
  height: 60px;
  margin: -57px 18px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -53px auto 0 123px;
}

.u-section-1 .u-shape-3 {
  width: 210px;
  height: 600px;
  background-image: none;
  margin: 33px auto 0 19px;
}

.u-section-1 .u-list-1 {
  width: 903px;
  margin: -650px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 240px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 1px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 1px 19px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  border-style: none;
  margin: 1px 75px 0 75px;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -46px 107px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-text-4 {
  margin: -28px 651px 0 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -28px 315px 0 471px;
}

.u-section-1 .u-icon-2 {
  margin-top: 3px;
  background-image: none;
}

.u-section-1 .u-text-6 {
  margin: -28px 202px 0 648px;
}

.u-section-1 .u-text-7 {
  margin: -28px 532px 0 312px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 0 1px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none;
  margin: 1px 19px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none;
  margin: -46px 107px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-text-10 {
  margin: -28px 651px 0 0;
}

.u-section-1 .u-icon-5 {
  background-image: none;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -28px 315px 0 471px;
}

.u-section-1 .u-icon-6 {
  margin-top: 3px;
  background-image: none;
}

.u-section-1 .u-text-12 {
  margin: -28px 202px 0 648px;
}

.u-section-1 .u-text-13 {
  margin: -28px 532px 0 312px;
}

.u-section-1 .u-icon-8 {
  background-image: none;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: -1233px auto 60px 56px;
  padding: 9px 21px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -11px;
  }

  .u-section-1 .u-btn-27 {
    margin-top: 55px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -27px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -44px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -63px;
  }

  .u-section-1 .u-btn-11 {
    border-style: none;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 440px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 224px;
    margin-left: 380px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 111px;
    margin-left: 557px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 440px;
    margin-left: 221px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 238px;
    margin-right: 468px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -345px;
    margin-right: 224px;
    margin-left: 627px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 111px;
    margin-left: 557px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 441px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 134px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 21px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 350px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 134px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 21px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 351px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 34px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 288px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 250px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 34px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 288px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 251px;
    margin-left: 31px;
  }
}

@media (min-width: 1200px) {
  .u-block-bfbd-1 {
    background-image: none;
  }
  .u-block-bfbd-2 {
    min-height: 1867px;
  }
  .u-block-bfbd-5 {
    width: 65px;
    height: 57px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 33px;
  }
  .u-block-bfbd-6 {
    width: 494px;
    height: 57px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 304px;
  }
  .u-block-bfbd-180 {
    width: 241px;
    height: 60px;
    margin-top: -57px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-4 {
    font-weight: 400;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 123px;
  }
  .u-block-bfbd-182 {
    height: 601px;
    margin-top: 30px;
    margin-right: 915px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-197 {
    margin-left: 0;
  }
  .u-block-bfbd-200 {
    margin-left: 0;
  }
  .u-block-bfbd-203 {
    margin-left: 0;
  }
  .u-block-bfbd-194 {
    margin-left: 0;
  }
  .u-block-bfbd-193 {
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-image: none;
    font-weight: 700;
  }
  .u-block-bfbd-8 {
    width: 903px;
    margin-top: -592px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-9 {
    min-height: 240px;
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
  }
  .u-block-bfbd-11 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-14 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-15 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-16 {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-141 {
    background-image: none;
    border-style: none;
    margin-top: 1px;
    margin-right: 19px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-150 {
    background-image: none;
    border-style: none;
    margin-top: -46px;
    margin-right: 107px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-174 {
    margin-top: -28px;
    margin-right: 651px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-175 {
    background-image: none;
  }
  .u-block-bfbd-176 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-21 {
    margin-top: -28px;
    margin-right: 315px;
    margin-bottom: 0;
    margin-left: 471px;
  }
  .u-block-bfbd-22 {
    margin-top: 3px;
    background-image: none;
  }
  .u-block-bfbd-161 {
    margin-top: -28px;
    margin-right: 202px;
    margin-bottom: 0;
    margin-left: 648px;
  }
  .u-block-bfbd-168 {
    margin-top: -28px;
    margin-right: 532px;
    margin-bottom: 0;
    margin-left: 312px;
  }
  .u-block-bfbd-169 {
    background-image: none;
  }
  .u-block-bfbd-170 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-24 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-27 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-28 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-29 {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-142 {
    background-image: none;
    border-style: none;
    margin-top: 1px;
    margin-right: 19px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-151 {
    background-image: none;
    border-style: none;
    margin-top: -46px;
    margin-right: 107px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-177 {
    margin-top: -28px;
    margin-right: 651px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-178 {
    background-image: none;
  }
  .u-block-bfbd-179 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-34 {
    margin-top: -28px;
    margin-right: 315px;
    margin-bottom: 0;
    margin-left: 471px;
  }
  .u-block-bfbd-35 {
    margin-top: 3px;
    background-image: none;
  }
  .u-block-bfbd-163 {
    margin-top: -28px;
    margin-right: 202px;
    margin-bottom: 0;
    margin-left: 648px;
  }
  .u-block-bfbd-171 {
    margin-top: -28px;
    margin-right: 532px;
    margin-bottom: 0;
    margin-left: 312px;
  }
  .u-block-bfbd-172 {
    background-image: none;
  }
  .u-block-bfbd-173 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-181 {
    background-image: none;
    margin-top: 379px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 45px;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-bfbd-1 {
    background-image: none;
  }
  .u-block-bfbd-2 {
    min-height: 1867px;
  }
  .u-block-bfbd-5 {
    width: 65px;
    height: 57px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 33px;
  }
  .u-block-bfbd-6 {
    width: 494px;
    height: 57px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 304px;
  }
  .u-block-bfbd-180 {
    width: 241px;
    height: 60px;
    margin-top: -57px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-4 {
    font-weight: 400;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 123px;
  }
  .u-block-bfbd-182 {
    height: 601px;
    margin-top: 30px;
    margin-right: 570px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-197 {
    margin-left: 0;
  }
  .u-block-bfbd-200 {
    margin-left: 0;
  }
  .u-block-bfbd-203 {
    margin-left: 0;
  }
  .u-block-bfbd-194 {
    margin-left: 0;
  }
  .u-block-bfbd-193 {
    background-image: none;
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .u-block-bfbd-8 {
    width: 903px;
    margin-top: -412px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-9 {
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
    min-height: 240px;
  }
  .u-block-bfbd-11 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-14 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-15 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-16 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-141 {
    background-image: none;
    border-style: none;
    margin-top: -11px;
    margin-right: 19px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-150 {
    background-image: none;
    border-style: none;
    margin-top: -34px;
    margin-right: 107px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-174 {
    margin-top: -27px;
    margin-right: 651px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-175 {
    background-image: none;
  }
  .u-block-bfbd-176 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-21 {
    margin-top: -28px;
    margin-right: 315px;
    margin-bottom: 0;
    margin-left: 471px;
  }
  .u-block-bfbd-22 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-161 {
    margin-top: -28px;
    margin-right: 202px;
    margin-bottom: 0;
    margin-left: 648px;
  }
  .u-block-bfbd-168 {
    margin-top: -28px;
    margin-right: 532px;
    margin-bottom: 0;
    margin-left: 312px;
  }
  .u-block-bfbd-169 {
    background-image: none;
  }
  .u-block-bfbd-170 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-24 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-27 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-28 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-29 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-bfbd-142 {
    background-image: none;
    border-style: none;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-top: 1px;
    margin-right: 19px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-151 {
    background-image: none;
    border-style: none;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-top: -46px;
    margin-right: 107px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-177 {
    margin-top: -44px;
    margin-right: 651px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-178 {
    background-image: none;
  }
  .u-block-bfbd-179 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-34 {
    margin-top: -63px;
    margin-right: 315px;
    margin-bottom: 0;
    margin-left: 471px;
  }
  .u-block-bfbd-35 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-163 {
    margin-top: -28px;
    margin-right: 202px;
    margin-bottom: 0;
    margin-left: 648px;
  }
  .u-block-bfbd-171 {
    margin-top: -28px;
    margin-right: 532px;
    margin-bottom: 0;
    margin-left: 312px;
  }
  .u-block-bfbd-172 {
    background-image: none;
  }
  .u-block-bfbd-173 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-181 {
    background-image: none;
    border-style: none;
    margin-top: 379px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .u-block-bfbd-1 {
    background-image: none;
  }
  .u-block-bfbd-2 {
    min-height: 1867px;
  }
  .u-block-bfbd-5 {
    width: 65px;
    height: 57px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 33px;
  }
  .u-block-bfbd-6 {
    width: 494px;
    height: 57px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 226px;
  }
  .u-block-bfbd-180 {
    width: 241px;
    height: 60px;
    margin-top: -57px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-4 {
    font-weight: 400;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 123px;
  }
  .u-block-bfbd-182 {
    height: 601px;
    margin-top: 250px;
    margin-right: 350px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-197 {
    margin-left: 0;
  }
  .u-block-bfbd-200 {
    margin-left: 0;
  }
  .u-block-bfbd-203 {
    margin-left: 0;
  }
  .u-block-bfbd-194 {
    margin-left: 0;
  }
  .u-block-bfbd-193 {
    background-image: none;
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .u-block-bfbd-8 {
    width: 720px;
    margin-top: -640px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-9 {
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
    min-height: 240px;
  }
  .u-block-bfbd-11 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-14 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-15 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-16 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-141 {
    background-image: none;
    border-style: none;
    margin-top: -11px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-150 {
    background-image: none;
    border-style: none;
    margin-top: -34px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-174 {
    margin-top: -27px;
    margin-right: 440px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-175 {
    background-image: none;
  }
  .u-block-bfbd-176 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-21 {
    margin-top: -28px;
    margin-right: 224px;
    margin-bottom: 0;
    margin-left: 380px;
  }
  .u-block-bfbd-22 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-161 {
    margin-top: -28px;
    margin-right: 111px;
    margin-bottom: 0;
    margin-left: 557px;
  }
  .u-block-bfbd-168 {
    margin-top: -28px;
    margin-right: 440px;
    margin-bottom: 0;
    margin-left: 221px;
  }
  .u-block-bfbd-169 {
    background-image: none;
  }
  .u-block-bfbd-170 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-24 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-27 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-28 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-29 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-bfbd-142 {
    background-image: none;
    border-style: none;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-151 {
    background-image: none;
    border-style: none;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-177 {
    margin-top: 238px;
    margin-right: 468px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-178 {
    background-image: none;
  }
  .u-block-bfbd-179 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-34 {
    margin-top: -345px;
    margin-right: 224px;
    margin-bottom: 0;
    margin-left: 627px;
  }
  .u-block-bfbd-35 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-163 {
    margin-top: -28px;
    margin-right: 111px;
    margin-bottom: 0;
    margin-left: 557px;
  }
  .u-block-bfbd-171 {
    margin-top: -28px;
    margin-right: 441px;
    margin-bottom: 0;
    margin-left: 221px;
  }
  .u-block-bfbd-172 {
    background-image: none;
  }
  .u-block-bfbd-173 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-181 {
    background-image: none;
    border-style: none;
    margin-top: 379px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .u-block-bfbd-1 {
    background-image: none;
  }
  .u-block-bfbd-2 {
    min-height: 1867px;
  }
  .u-block-bfbd-5 {
    width: 65px;
    height: 57px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 33px;
  }
  .u-block-bfbd-6 {
    width: 494px;
    height: 57px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 46px;
  }
  .u-block-bfbd-180 {
    width: 241px;
    height: 60px;
    margin-top: -57px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-4 {
    font-weight: 400;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 123px;
  }
  .u-block-bfbd-182 {
    height: 601px;
    margin-top: 286px;
    margin-right: 170px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-197 {
    margin-left: 0;
  }
  .u-block-bfbd-200 {
    margin-left: 0;
  }
  .u-block-bfbd-203 {
    margin-left: 0;
  }
  .u-block-bfbd-194 {
    margin-left: 0;
  }
  .u-block-bfbd-193 {
    background-image: none;
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .u-block-bfbd-8 {
    width: 540px;
    margin-top: -676px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-9 {
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
    min-height: 240px;
  }
  .u-block-bfbd-11 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-14 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-15 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-16 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-141 {
    background-image: none;
    border-style: none;
    margin-top: -11px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-150 {
    background-image: none;
    border-style: none;
    margin-top: -34px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-174 {
    margin-top: -27px;
    margin-right: 350px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-175 {
    background-image: none;
  }
  .u-block-bfbd-176 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-21 {
    margin-top: -28px;
    margin-right: 134px;
    margin-bottom: 0;
    margin-left: 290px;
  }
  .u-block-bfbd-22 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-161 {
    margin-top: -28px;
    margin-right: 21px;
    margin-bottom: 0;
    margin-left: 467px;
  }
  .u-block-bfbd-168 {
    margin-top: -28px;
    margin-right: 350px;
    margin-bottom: 0;
    margin-left: 131px;
  }
  .u-block-bfbd-169 {
    background-image: none;
  }
  .u-block-bfbd-170 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-24 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-27 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-28 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-29 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-142 {
    background-image: none;
    border-style: none;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-151 {
    background-image: none;
    border-style: none;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-177 {
    margin-top: 238px;
    margin-right: 288px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-178 {
    background-image: none;
  }
  .u-block-bfbd-179 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-34 {
    margin-top: -345px;
    margin-right: 134px;
    margin-bottom: 0;
    margin-left: 470px;
  }
  .u-block-bfbd-35 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-163 {
    margin-top: -28px;
    margin-right: 21px;
    margin-bottom: 0;
    margin-left: 467px;
  }
  .u-block-bfbd-171 {
    margin-top: -28px;
    margin-right: 351px;
    margin-bottom: 0;
    margin-left: 131px;
  }
  .u-block-bfbd-172 {
    background-image: none;
  }
  .u-block-bfbd-173 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-181 {
    background-image: none;
    border-style: none;
    margin-top: 379px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}
@media (max-width: 575px) {
  .u-block-bfbd-1 {
    background-image: none;
  }
  .u-block-bfbd-2 {
    min-height: 1867px;
  }
  .u-block-bfbd-5 {
    width: 65px;
    height: 57px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 33px;
  }
  .u-block-bfbd-6 {
    width: 340px;
    height: 57px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-180 {
    width: 241px;
    height: 60px;
    margin-top: -57px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-4 {
    font-weight: 400;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 77px;
  }
  .u-block-bfbd-182 {
    height: 601px;
    margin-top: 286px;
    margin-right: 115px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-197 {
    margin-left: 0;
  }
  .u-block-bfbd-200 {
    margin-left: 0;
  }
  .u-block-bfbd-203 {
    margin-left: 0;
  }
  .u-block-bfbd-194 {
    margin-left: 0;
  }
  .u-block-bfbd-193 {
    background-image: none;
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .u-block-bfbd-8 {
    width: 340px;
    margin-top: -676px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-block-bfbd-9 {
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
    min-height: 240px;
  }
  .u-block-bfbd-11 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-14 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-15 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-16 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-141 {
    background-image: none;
    border-style: none;
    margin-top: -11px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-150 {
    background-image: none;
    border-style: none;
    margin-top: -34px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-174 {
    margin-top: -27px;
    margin-right: 250px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-175 {
    background-image: none;
  }
  .u-block-bfbd-176 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-21 {
    margin-top: -28px;
    margin-right: 34px;
    margin-bottom: 0;
    margin-left: 190px;
  }
  .u-block-bfbd-22 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-161 {
    margin-top: -28px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 288px;
  }
  .u-block-bfbd-168 {
    margin-top: -28px;
    margin-right: 250px;
    margin-bottom: 0;
    margin-left: 31px;
  }
  .u-block-bfbd-169 {
    background-image: none;
  }
  .u-block-bfbd-170 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-24 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-27 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-28 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-29 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-bfbd-142 {
    background-image: none;
    border-style: none;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-151 {
    background-image: none;
    border-style: none;
    margin-top: -46px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 11px;
    padding-left: 16px;
  }
  .u-block-bfbd-177 {
    margin-top: 238px;
    margin-right: 88px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-bfbd-178 {
    background-image: none;
  }
  .u-block-bfbd-179 {
    background-image: none;
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-34 {
    margin-top: -345px;
    margin-right: 34px;
    margin-bottom: 0;
    margin-left: 296px;
  }
  .u-block-bfbd-35 {
    background-image: none;
    margin-top: 3px;
  }
  .u-block-bfbd-163 {
    margin-top: -28px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 288px;
  }
  .u-block-bfbd-171 {
    margin-top: -28px;
    margin-right: 251px;
    margin-bottom: 0;
    margin-left: 31px;
  }
  .u-block-bfbd-172 {
    background-image: none;
  }
  .u-block-bfbd-173 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-bfbd-181 {
    background-image: none;
    border-style: none;
    margin-top: 379px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
    padding-top: 9px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}