 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-form-1 {
  height: 508px;
  margin: 20px 550px 0 20px;
}

 .u-section-1 .u-form-2 {
   height: 100px;
   margin: 300px 550px 0 20px;
 }

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  width: 198px;
  height: 197px;
  margin: -475px 170px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 39px 53px 0 auto;
  padding: 23px 164px 25px 163px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 39px 170px 60px auto;
  padding: 10px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 142px;
  }
}

 @media (min-width: 1200px) {
   .u-block-7636-1 {
     background-image: none;
   }
   .u-block-7636-2 {
     min-height: 958px;
   }
   .u-block-7636-3 {
     height: 508px;
     margin-top: 20px;
     margin-right: 550px;
     margin-bottom: 0;
     margin-left: 20px;
   }
   .u-block-7636-10 {
     margin-left: 0;
   }
   .u-block-7636-13 {
     margin-left: 0;
   }
   .u-block-7636-18 {
     margin-left: 0;
   }
   .u-block-7636-17 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-21 {
     width: 198px;
     height: 197px;
     margin-top: -475px;
     margin-right: 170px;
     margin-bottom: 0;
     margin-left: auto;
   }
   .u-block-7636-24 {
     height: 160px;
     margin-top: 20px;
     margin-right: 30px;
     margin-bottom: 0;
     margin-left: 618px;
   }
   .u-block-7636-35 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-23 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
     margin-top: 47px;
     margin-right: 170px;
     margin-bottom: 60px;
     margin-left: auto;
     padding-top: 10px;
     padding-right: 46px;
     padding-bottom: 12px;
     padding-left: 45px;
   }
 }
 @media (max-width: 1199px) and (min-width: 992px) {
   .u-block-7636-1 {
     background-image: none;
   }
   .u-block-7636-2 {
     min-height: 958px;
   }
   .u-block-7636-3 {
     width: 470px;
     margin-bottom: 0;
     height: 508px;
     margin-top: 20px;
     margin-right: 370px;
     margin-left: 0;
   }
   .u-block-7636-10 {
     margin-left: 0;
   }
   .u-block-7636-13 {
     margin-left: 0;
   }
   .u-block-7636-18 {
     margin-left: 0;
   }
   .u-block-7636-17 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-21 {
     width: 198px;
     height: 198px;
     margin-top: -475px;
     margin-right: 170px;
     margin-bottom: 0;
     margin-left: auto;
   }
   .u-block-7636-24 {
     width: 570px;
     height: 160px;
     margin-top: 20px;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 447px;
   }
   .u-block-7636-35 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-23 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
     margin-top: 47px;
     margin-right: 0;
     margin-bottom: 60px;
     margin-left: auto;
     padding-top: 10px;
     padding-right: 46px;
     padding-bottom: 12px;
     padding-left: 45px;
   }
 }
 @media (max-width: 991px) and (min-width: 768px) {
   .u-block-7636-1 {
     background-image: none;
   }
   .u-block-7636-2 {
     min-height: 958px;
   }
   .u-block-7636-3 {
     width: 470px;
     margin-bottom: 0;
     height: 508px;
     margin-top: 20px;
     margin-right: 150px;
     margin-left: 0;
   }
   .u-block-7636-10 {
     margin-left: 0;
   }
   .u-block-7636-13 {
     margin-left: 0;
   }
   .u-block-7636-18 {
     margin-left: 0;
   }
   .u-block-7636-17 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-21 {
     width: 198px;
     height: 198px;
     margin-top: -475px;
     margin-right: 170px;
     margin-bottom: 0;
     margin-left: auto;
   }
   .u-block-7636-24 {
     width: 570px;
     height: 160px;
     margin-top: 20px;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 227px;
   }
   .u-block-7636-35 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-23 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
     margin-top: 47px;
     margin-right: 0;
     margin-bottom: 60px;
     margin-left: auto;
     padding-top: 10px;
     padding-right: 46px;
     padding-bottom: 12px;
     padding-left: 45px;
   }
 }
 @media (max-width: 767px) and (min-width: 576px) {
   .u-block-7636-1 {
     background-image: none;
   }
   .u-block-7636-2 {
     min-height: 958px;
   }
   .u-block-7636-3 {
     width: 470px;
     margin-bottom: 0;
     height: 508px;
     margin-top: 20px;
     margin-right: 0;
     margin-left: 0;
   }
   .u-block-7636-10 {
     margin-left: 0;
   }
   .u-block-7636-13 {
     margin-left: 0;
   }
   .u-block-7636-18 {
     margin-left: 0;
   }
   .u-block-7636-17 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-21 {
     width: 198px;
     height: 198px;
     margin-top: -475px;
     margin-right: 170px;
     margin-bottom: 0;
     margin-left: auto;
   }
   .u-block-7636-24 {
     width: 540px;
     height: 160px;
     margin-top: 20px;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 47px;
   }
   .u-block-7636-35 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-23 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
     margin-top: 47px;
     margin-right: 0;
     margin-bottom: 60px;
     margin-left: auto;
     padding-top: 10px;
     padding-right: 46px;
     padding-bottom: 12px;
     padding-left: 45px;
   }
 }
 @media (max-width: 575px) {
   .u-block-7636-1 {
     background-image: none;
   }
   .u-block-7636-2 {
     min-height: 958px;
   }
   .u-block-7636-3 {
     width: 340px;
     margin-bottom: 0;
     height: 508px;
     margin-top: 20px;
     margin-right: 0;
     margin-left: 0;
   }
   .u-block-7636-10 {
     margin-left: 0;
   }
   .u-block-7636-13 {
     margin-left: 0;
   }
   .u-block-7636-18 {
     margin-left: 0;
   }
   .u-block-7636-17 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-21 {
     width: 198px;
     height: 198px;
     margin-top: -475px;
     margin-right: 142px;
     margin-bottom: 0;
     margin-left: auto;
   }
   .u-block-7636-24 {
     width: 340px;
     height: 160px;
     margin-top: 20px;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;
   }
   .u-block-7636-35 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
   }
   .u-block-7636-23 {
     border-style: solid;
     text-transform: uppercase;
     letter-spacing: 0px;
     font-weight: 700;
     margin-top: 47px;
     margin-right: 0;
     margin-bottom: 60px;
     margin-left: auto;
     padding-top: 10px;
     padding-right: 46px;
     padding-bottom: 12px;
     padding-left: 45px;
   }
 }