.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/img/homePage.jpg');
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 545px;
}

.u-section-1 .u-text-1 {
    font-size: 5rem;
    margin: 132px auto 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 0 314px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 1.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 157px 328px 0 auto;
    padding: 29px 69px;
}

.u-section-1 .u-btn-2 {
    border-style: solid;
    font-size: 1.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: -100px 21px 30px auto;
    padding: 29px 69px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 449px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 114px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 128px;
    }

    .u-section-1 .u-btn-2 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 344px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 258px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 162px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 546px;
}

.u-section-2 .u-group-1 {
    min-height: 184px;
    width: 789px;
    margin: 63px 170px 0 auto;
}

.u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
}

.u-section-2 .u-text-1 {
    font-size: 4.5rem;
    background-image: none;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
    grid-template-rows: auto;
    margin-top: -45px;
    margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-gap: 10px 10px;
    min-height: 245px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-2 {
    font-size: 3rem;
    margin: 33px 0 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px;
}

.u-section-2 .u-text-4 {
    font-size: 3rem;
    margin: 33px 0 0;
}

.u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin: 20px 1px 0;
}

.u-section-2 .u-container-layout-4 {
    padding: 30px;
}

.u-section-2 .u-text-6 {
    font-size: 3rem;
    margin: 33px 0 0;
}

.u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin: 20px 1px 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 508px;
    }

    .u-section-2 .u-group-1 {
        margin-right: 151px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .u-section-2 .u-list-1 {
        height: auto;
    }

    .u-section-2 .u-text-3 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-5 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-text-7 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 770px;
    }

    .u-section-2 .u-group-1 {
        width: 720px;
        margin-right: 0;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-group-1 {
        width: 540px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-group-1 {
        width: 340px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 1401px;
}

.u-section-3 .u-text-1 {
    font-weight: 400;
    margin: 1px auto 0 0;
}

.u-section-3 .u-list-1 {
    margin-top: 24px;
    margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
    min-height: 1210px;
    grid-template-columns: 100%;
    grid-gap: 20px 20px;
}

.u-section-3 .u-container-layout-1 {
    padding: 0;
}

.u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-3 {
    margin: 0;
}

.u-section-3 .u-text-4 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-1 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-5 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-3 .u-icon-2 {
    background-image: none;
}

.u-section-3 .u-text-6 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-3 {
    background-image: none;
}

.u-section-3 .u-container-layout-2 {
    padding: 0;
}

.u-section-3 .u-text-7 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-3 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-8 {
    margin: 0;
}

.u-section-3 .u-text-9 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-4 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-10 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-5 {
    background-image: none;
}

.u-section-3 .u-text-11 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-6 {
    background-image: none;
}

.u-section-3 .u-container-layout-3 {
    padding: 0;
}

.u-section-3 .u-text-12 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-4 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-13 {
    margin: 0;
}

.u-section-3 .u-text-14 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-7 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-15 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-8 {
    background-image: none;
}

.u-section-3 .u-text-16 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-9 {
    background-image: none;
}

.u-section-3 .u-container-layout-4 {
    padding: 0;
}

.u-section-3 .u-text-17 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-5 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-18 {
    margin: 0;
}

.u-section-3 .u-text-19 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-10 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-20 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-11 {
    background-image: none;
}

.u-section-3 .u-text-21 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-12 {
    background-image: none;
}

.u-section-3 .u-container-layout-5 {
    padding: 0;
}

.u-section-3 .u-text-22 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-6 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-23 {
    margin: 0;
}

.u-section-3 .u-text-24 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-13 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-25 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-14 {
    background-image: none;
}

.u-section-3 .u-text-26 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-15 {
    background-image: none;
}

.u-section-3 .u-container-layout-6 {
    padding: 0;
}

.u-section-3 .u-text-27 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-7 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-28 {
    margin: 0;
}

.u-section-3 .u-text-29 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-16 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-30 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-17 {
    background-image: none;
}

.u-section-3 .u-text-31 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-18 {
    background-image: none;
}

.u-section-3 .u-container-layout-7 {
    padding: 0;
}

.u-section-3 .u-text-32 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-8 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-33 {
    margin: 0;
}

.u-section-3 .u-text-34 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-19 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-35 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-20 {
    background-image: none;
}

.u-section-3 .u-text-36 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-21 {
    background-image: none;
}

.u-section-3 .u-container-layout-8 {
    padding: 0;
}

.u-section-3 .u-text-37 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-9 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-38 {
    margin: 0;
}

.u-section-3 .u-text-39 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-22 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-40 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-23 {
    background-image: none;
}

.u-section-3 .u-text-41 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-24 {
    background-image: none;
}

.u-section-3 .u-container-layout-9 {
    padding: 0;
}

.u-section-3 .u-text-42 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-10 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-43 {
    margin: 0;
}

.u-section-3 .u-text-44 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-25 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-45 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-26 {
    background-image: none;
}

.u-section-3 .u-text-46 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-27 {
    background-image: none;
}

.u-section-3 .u-container-layout-10 {
    padding: 0;
}

.u-section-3 .u-text-47 {
    font-size: 1.875rem;
    margin: 0;
}

.u-section-3 .u-btn-11 {
    border-style: none none solid;
    padding: 0;
}

.u-section-3 .u-text-48 {
    margin: 0;
}

.u-section-3 .u-text-49 {
    margin: 13px 0 0 1018px;
}

.u-section-3 .u-icon-28 {
    margin-top: 3px;
    background-image: none;
}

.u-section-3 .u-text-50 {
    margin: -21px 993px 0 0;
}

.u-section-3 .u-icon-29 {
    background-image: none;
}

.u-section-3 .u-text-51 {
    width: 43px;
    margin: -28px auto 0;
}

.u-section-3 .u-icon-30 {
    background-image: none;
}

@media (max-width: 1199px) {
    .u-section-3 .u-text-4 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-5 {
        margin-right: 793px;
    }

    .u-section-3 .u-text-9 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-10 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-14 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-15 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-19 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-20 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-24 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-25 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-29 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-30 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-34 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-35 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-39 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-40 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-44 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-45 {
        margin-right: 818px;
    }

    .u-section-3 .u-text-49 {
        margin-left: 818px;
    }

    .u-section-3 .u-text-50 {
        margin-right: 818px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-text-4 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-5 {
        margin-right: 573px;
    }

    .u-section-3 .u-text-9 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-10 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-14 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-15 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-19 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-20 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-24 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-25 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-29 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-30 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-34 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-35 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-39 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-40 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-44 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-45 {
        margin-right: 627px;
    }

    .u-section-3 .u-text-49 {
        margin-left: 598px;
    }

    .u-section-3 .u-text-50 {
        margin-right: 627px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-text-4 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-5 {
        margin-right: 393px;
    }

    .u-section-3 .u-text-9 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-10 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-14 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-15 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-19 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-20 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-24 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-25 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-29 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-30 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-34 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-35 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-39 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-40 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-44 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-45 {
        margin-right: 470px;
    }

    .u-section-3 .u-text-49 {
        margin-left: 418px;
    }

    .u-section-3 .u-text-50 {
        margin-right: 470px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-text-4 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-5 {
        margin-right: 193px;
    }

    .u-section-3 .u-text-9 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-10 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-14 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-15 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-19 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-20 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-24 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-25 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-29 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-30 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-34 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-35 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-39 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-40 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-44 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-45 {
        margin-right: 296px;
    }

    .u-section-3 .u-text-49 {
        margin-left: 218px;
    }

    .u-section-3 .u-text-50 {
        margin-right: 296px;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 1401px;
}

.u-section-4 .u-text-1 {
    font-weight: 400;
    margin: 1px auto 0 0;
}

.u-section-4 .u-list-1 {
    margin-top: 24px;
    margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
    min-height: 1210px;
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
    padding: 0;
}

.u-section-4 .u-group-1 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-3 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-1 {
    background-image: none;
}

.u-section-4 .u-text-5 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-2 {
    background-image: none;
}

.u-section-4 .u-text-6 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-3 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-3 {
    padding: 0;
}

.u-section-4 .u-group-2 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-7 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-8 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-4 {
    background-image: none;
}

.u-section-4 .u-text-10 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-5 {
    background-image: none;
}

.u-section-4 .u-text-11 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-6 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-5 {
    padding: 0;
}

.u-section-4 .u-group-3 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-12 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-3 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-13 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-14 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-7 {
    background-image: none;
}

.u-section-4 .u-text-15 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-8 {
    background-image: none;
}

.u-section-4 .u-text-16 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-9 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-7 {
    padding: 0;
}

.u-section-4 .u-group-4 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-17 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-4 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-18 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-19 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-10 {
    background-image: none;
}

.u-section-4 .u-text-20 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-11 {
    background-image: none;
}

.u-section-4 .u-text-21 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-12 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-9 {
    padding: 0;
}

.u-section-4 .u-group-5 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-22 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-5 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-23 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-24 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-13 {
    background-image: none;
}

.u-section-4 .u-text-25 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-14 {
    background-image: none;
}

.u-section-4 .u-text-26 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-15 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-11 {
    padding: 0;
}

.u-section-4 .u-group-6 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-27 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-6 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-28 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-29 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-16 {
    background-image: none;
}

.u-section-4 .u-text-30 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-17 {
    background-image: none;
}

.u-section-4 .u-text-31 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-18 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-13 {
    padding: 0;
}

.u-section-4 .u-group-7 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-32 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-7 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-33 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-34 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-19 {
    background-image: none;
}

.u-section-4 .u-text-35 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-20 {
    background-image: none;
}

.u-section-4 .u-text-36 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-21 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-15 {
    padding: 0;
}

.u-section-4 .u-group-8 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-37 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-8 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-38 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-39 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-22 {
    background-image: none;
}

.u-section-4 .u-text-40 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-23 {
    background-image: none;
}

.u-section-4 .u-text-41 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-24 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-17 {
    padding: 0;
}

.u-section-4 .u-group-9 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-42 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-9 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-43 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-44 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-25 {
    background-image: none;
}

.u-section-4 .u-text-45 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-26 {
    background-image: none;
}

.u-section-4 .u-text-46 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-27 {
    margin-top: 3px;
    background-image: none;
}

.u-section-4 .u-container-layout-19 {
    padding: 0;
}

.u-section-4 .u-group-10 {
    min-height: 110px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-47 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-4 .u-btn-10 {
    border-style: none none solid;
    padding: 0;
}

.u-section-4 .u-text-48 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-49 {
    margin: 20px auto 0 0;
}

.u-section-4 .u-icon-28 {
    background-image: none;
}

.u-section-4 .u-text-50 {
    margin: -28px auto 0;
}

.u-section-4 .u-icon-29 {
    background-image: none;
}

.u-section-4 .u-text-51 {
    margin: -28px 10px 0 auto;
}

.u-section-4 .u-icon-30 {
    margin-top: 3px;
    background-image: none;
}

@media (max-width: 1199px) {
    .u-section-4 .u-text-5 {
        margin-left: 163px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-text-5 {
        margin-left: 103px;
    }
}