.error{
    color: red;
}

.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 975px;
}

.u-section-1 .u-shape-1 {
    height: 643px;
    margin-bottom: 0;
    margin-top: 0;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1120px;
    margin: -635px auto 60px;
}

.u-section-1 .u-image-1 {
    min-height: 628px;
    background-image: url("../assets/img/login.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 10px 5px 2px rgba(0, 0, 0, 0.7);
    margin: 105px auto 0;
}

.u-section-1 .u-text-2 {
    text-shadow: 10px 5px 2px rgba(0, 0, 0, 0.7);
    margin: 20px 98px 0 56px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 628px;
}

.u-section-1 .u-container-layout-2 {
    padding: 0 2px 30px;
}

.u-section-1 .u-form-1 {
    height: 409px;
    margin: 77px 0 0;
}

.u-section-1 .u-input-1 {
    background-image: none;
}

.u-section-1 .u-input-2 {
    background-image: none;
}

.u-section-1 .u-btn-1 {
    width: 100%;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    margin: 20px auto 0;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 874px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: -37px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
        margin-top: -554px;
    }

    .u-section-1 .u-image-1 {
        min-height: 527px;
    }

    .u-section-1 .u-text-2 {
        width: 489px;
        margin-left: 1px;
        margin-right: 43px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 527px;
    }

    .u-section-1 .u-form-1 {
        height: 405px;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 751px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-1 .u-image-1 {
        min-height: 404px;
    }

    .u-section-1 .u-text-2 {
        width: 384px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1113px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 454px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
        margin-top: -1045px;
    }

    .u-section-1 .u-image-1 {
        min-height: 491px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 947px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 289px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 340px;
        margin-top: -880px;
    }

    .u-section-1 .u-image-1 {
        min-height: 309px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-2 {
        width: 320px;
    }
}