 .u-section-1 {
  background-image: url("../assets/img/not-found.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 122px 364px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -54px 792px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 3.75rem;
  border-style: solid;
  background-image: none;
  margin: -126px 433px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 324px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -250px;
    margin-right: 592px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 113px;
    margin-right: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 372px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 192px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 158px;
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -190px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 218px;
  }
}