.error{
    color: red;
}

.u-section-1 {
    background-image: url("../assets/img/registration.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 814px;
}

.u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 4.5rem;
    text-shadow: 9px 2px 8px rgba(0, 0, 0, 1);
    margin: 124px 0 0 855px;
}

.u-section-1 .u-text-2 {
    font-size: 4.5rem;
    text-shadow: 9px 2px 8px rgba(0, 0, 0, 1);
    margin: -396px 855px 0 0;
}

.u-section-1 .u-form-1 {
    height: 548px;
    background-image: none;
    width: 570px;
    margin: -432px auto 60px;
}

.u-section-1 .u-label-1 {
    font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
    margin-left: 0;
}

.u-section-1 .u-label-2 {
    font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

.u-section-1 .u-label-3 {
    font-size: 1.25rem;
}

.u-section-1 .u-label-4 {
    font-size: 1.25rem;
}

.u-section-1 .u-form-group-5 {
    margin-left: 0;
}

.u-section-1 .u-label-5 {
    font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 671px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 73px;
        margin-left: 755px;
    }

    .u-section-1 .u-text-2 {
        margin-top: -424px;
        margin-right: 655px;
    }

    .u-section-1 .u-form-1 {
        margin-top: -339px;
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 514px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 535px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 435px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 386px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 355px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 255px;
    }

    .u-section-1 .u-form-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 243px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
        margin-top: -215px;
        margin-left: 155px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
        margin-top: -55px;
        margin-right: 55px;
    }

    .u-section-1 .u-form-1 {
        width: 340px;
    }
}