 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1832px;
}

.u-section-1 .u-shape-1 {
  width: 494px;
  height: 57px;
  margin: 12px auto 0 304px;
}

.u-section-1 .u-shape-2 {
  width: 241px;
  height: 60px;
  margin: -56px 19px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -60px 918px 0 12px;
}

.u-section-1 .u-image-1 {
  width: 101px;
  height: 89px;
  margin: 28px auto 0 67px;
}

.u-section-1 .u-list-1 {
  width: 903px;
  margin: -78px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 1644px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 1px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 1px 19px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -46px 107px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-text-4 {
  margin: -28px 651px 0 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -28px 315px 0 471px;
}

.u-section-1 .u-icon-2 {
  margin-top: 3px;
  background-image: none;
}

.u-section-1 .u-text-6 {
  margin: -28px 202px 0 648px;
}

.u-section-1 .u-text-7 {
  margin: -28px 532px 0 312px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 0 1px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none;
  margin: 1px 19px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none;
  margin: -46px 107px 0 auto;
  padding: 9px 17px 11px 16px;
}

.u-section-1 .u-text-10 {
  margin: -28px 651px 0 0;
}

.u-section-1 .u-icon-5 {
  background-image: none;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -28px 315px 0 471px;
}

.u-section-1 .u-icon-6 {
  margin-top: 3px;
  background-image: none;
}

.u-section-1 .u-text-12 {
  margin: -28px 202px 0 648px;
}

.u-section-1 .u-text-13 {
  margin: -28px 532px 0 312px;
}

.u-section-1 .u-icon-8 {
  background-image: none;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 210px;
  height: 393px;
  background-image: none;
  margin: -1548px auto 0 12px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: none;
  margin: 28px auto 0 57px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: none;
  margin: 19px auto 0 49px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  border-style: none;
  margin: 15px auto 60px 31px;
  padding: 9px 18px 11px 17px;
}

 .u-section-1 .u-btn-14 {
   background-image: none;
   border-style: none;
   margin: 15px auto 60px 31px;
   padding: 9px 18px 11px 17px;
 }

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -63px;
    margin-right: 730px;
    margin-left: 87px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 506px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -519px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -1575px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -64px;
    margin-right: 510px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 838px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -851px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 468px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 224px;
    margin-left: 380px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 111px;
    margin-left: 557px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 441px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 468px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 224px;
    margin-left: 380px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 111px;
    margin-left: 557px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 441px;
    margin-left: 221px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -1907px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -52px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -63px;
    margin-right: 330px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1489px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -1502px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 134px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 21px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 351px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 134px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 21px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 351px;
    margin-left: 131px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -2558px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -59px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -56px;
    margin-right: 130px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2984px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -2997px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 34px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 288px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 251px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 34px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 288px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 251px;
    margin-left: 31px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -4053px;
  }
}