 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-post-details-1 {
  min-height: 567px;
  margin: 18px -14px 60px 14px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 1118px;
  min-height: 582px;
  margin: 0 8px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 22px;
}

.u-section-1 .u-text-1 {
  margin: 0 14px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -28px 902px 0 8px;
}

.u-section-1 .u-icon-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-decoration: underline solid rgb(17, 17, 17);
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 8px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 336px 730px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px 601px 0 427px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -48px 210px 0 auto;
}

 .u-section-1 .u-btn-15 {
   border-style: solid;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0px;
   margin: -48px 750px 0 auto;
 }

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px 407px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -39px 42px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -27px 100px 0 945px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-post-details-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 732px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 552px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 512px;
    margin-left: 338px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 11px;
    margin-left: 856px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 512px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 332px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 402px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 647px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 332px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 152px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 312px;
    margin-left: 138px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 212px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 267px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 934px;
}

.u-section-2 .u-post-details-1 {
  min-height: 453px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 21px;
}

.u-section-2 .u-text-1 {
  margin: 4px 833px 0 9px;
}

.u-section-2 .u-icon-1 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: -28px 9px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 13px 0 0 18px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 233px 192px 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px 21px 0 auto;
}

.u-section-2 .u-post-details-2 {
  min-height: 451px;
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-2 {
  padding: 26px 21px;
}

.u-section-2 .u-text-4 {
  margin: 4px 9px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: -28px 171px 0 9px;
}

.u-section-2 .u-icon-4 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 13px 0 0 18px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 232px 180px 0 auto;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px 21px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 642px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -24px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 264px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 423px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 401px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 423px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-right: 64px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -50px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 223px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 201px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -2px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -13px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 223px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 201px;
  }
}