<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Black Friday">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>CategoryPage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" href="../static/css/CategoryPageNew.css" th:href="@{/css/CategoryPageNew.css}" media="screen">
    <!--    <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">





    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/name",
				"https://instagram.com/name"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CategoryPage">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="CategoryPage">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-black u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-header" id="sec-e9b0"><div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-1">
          <a class="u-border-active-palette-2-base u-border-hover-black u-border-none u-btn u-button-style u-hover-black u-none u-text-body-alt-color u-btn-1" href="Home.html" th:href="@{/home}" data-page-id="95484689">FOODIES</a>
      </p>
      <div class="u-image u-image-circle u-preserve-proportions u-image-1" th:style="'background-image:url('+ ${session.currentUser.getProfilePictureUrl()} +');'" alt=""></div>
      <a href="#" th:href="@{/users/{userId}(userId=${session.currentUser.getUserId()})}" th:text="${session.currentUser.getUsername()}" class="u-border-1 u-border-active-black u-border-hover-palette-5-base u-btn u-button-style u-custom-font u-font-oswald u-none u-text-body-alt-color u-btn-2">Username</a>
      <a th:href="@{/auth/logout}" class="u-border-1 u-border-active-black u-border-hover-palette-5-base u-btn u-button-style u-custom-font u-font-oswald u-none u-text-body-alt-color u-btn-3">Log out</a>
      <form action="#" method="get" class="u-border-1 u-border-grey-30 u-search u-search-left u-search-1">
          <button class="u-search-button" type="submit">
            <span class="u-search-icon u-spacing-10">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9a04"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-9a04" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
            </span>
          </button>
          <label>
              <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
          </label>
      </form>
  </div></header>
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-6558">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-default u-image-1" th:src="${category.getPhotoUrl()}" alt="" data-image-width="1600" data-image-height="1068" src="">
        <h3 class="u-custom-font u-font-oswald u-text u-text-default u-text-1" th:text="${category.getCategoryName()}">Category</h3>
        <div class="d-flex flex-column u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-3">
            <form action="#" th:action="@{/categories/{categoryId}/posts/filter(categoryId = ${category.getCategoryId()})}" method="get" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                <input type="hidden" id="siteId" name="siteId" value="364902512">
                <input type="hidden" id="pageId" name="pageId" value="53770769">
                <div class="u-form-group u-form-name u-block-bfbd-183">
                    <label for="name-ca92" class="u-custom-font u-font-oswald u-label u-block-bfbd-184">Title</label>
                    <input type="text" placeholder="Title should contain..." id="name-ca92" name="title" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-185">
                </div>
                <div class="u-form-email u-form-group u-block-bfbd-186">
                    <label for="email-ca92" class="u-custom-font u-font-oswald u-label u-block-bfbd-187">Author</label>
                    <input type="text" placeholder="Enter username" id="email-ca92" name="authorUsername" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-188">
                </div>

                <div class="u-form-date u-form-group u-block-bfbd-197">
                    <label for="date-fcc9" class="u-custom-font u-font-oswald u-label u-block-bfbd-198">From</label>
                    <input type="date" placeholder="DD/MM/YYYY" id="date-fcc9" name="startDate" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-199">
                </div><div class="u-form-date u-form-group u-block-bfbd-200">
                <label for="date-1e55" class="u-custom-font u-font-oswald u-label u-block-bfbd-201">To</label>
                <input type="date" placeholder="MM/DD/YYYY" id="date-1e55" name="endDate" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-202" >
            </div><div class="u-form-group u-form-select u-block-bfbd-203">
                <label for="select-97f6" class="u-custom-font u-font-oswald u-label u-block-bfbd-204">Category</label>
                <div class="u-form-select-wrapper">
                    <input type="hidden" th:value="${category.getCategoryId()}" name="categoryId">
                    <select id="select-97f6" name="categoryId1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-205"><option value="Item 1">Item 1</option><option value="Item 2">Item 2</option><option value="Item 3">Item 3</option></select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                </div>
            </div><div class="u-form-group u-form-select u-block-bfbd-194">
                <label for="select-345e" class="u-custom-font u-font-oswald u-label u-block-bfbd-195">Sort</label>
                <div class="u-form-select-wrapper">
                    <select id="select-345e" name="sort" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-bfbd-196">
                        <option value="title">Title (Ascending)</option>
                        <option value="title_desc">Title (Descending)</option>
                        <option value="author">Author (Ascending)</option><option value="author_desc">Author (Descending)</option>
                        <option value="author_desc">Author (Descending)</option>
                        <option value="date">Date (Ascending)</option>
                        <option value="date_desc">Date (Descending)</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                </div>
            </div><div class="u-align-center u-form-group u-form-submit u-block-bfbd-192">
<!--                <a href="#" class="u-active-grey-10 u-black u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-white u-text-body-alt-color u-text-hover-white u-block-bfbd-193">Filter</a>-->
                <button type="submit" value="submit" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-block-bfbd-193">FILTER</button>
            </div>
            </form>
        </div>
          <button type="button" class="btn btn-primary  u-black u-border-none u-btn u-button-style u-custom-font u-font-oswald u-hover-grey-10 u-btn-27" data-bs-toggle="modal" data-bs-target="#Post-modal">Create post</button>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-custom-item u-list-item u-repeater-item"  th:each="post : ${postsByCategory}">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h6 class="u-align-left u-custom-font u-custom-item u-font-oswald u-text u-text-2">
                  <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1" th:href="@{/posts/{postId}(postId=${post.getPostId()})}" th:text="${post.getPostTitle()}"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</a>
                </h6>
                <p class="u-align-left u-custom-item u-text u-text-3" th:text="${post.getPostContent()}"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellu nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium. Pellentesque auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Phasellus a est. Phasellus magna. In hac habitasse platea dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis ullamcorper velit. Phasellus gravida semper nisi. Nullam vel sem. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Sed hendrerit. Morbi ac felis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Nunc nulla. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Donec venenatis vulputate lorem. Morbi nec metus. Phasellus blandit leo ut odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. In auctor lobortis lacus. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Vestibulum ullamcorper mauris at ligula. Fusce fermentum. Nullam cursus lacinia erat. Praesent blandit laoreet nibh. Fusce convallis metus id felis luctus adipiscing. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Quisque id mi. Ut tincidunt tincidunt erat. Etiam feugiat lorem non metus. Vestibulum dapibus nunc ac augue. Curabitur vestibulum aliquam leo. Praesent egestas neque eu enim. In hac habitasse platea dictumst. Fusce a quam. Etiam ut purus mattis mauris sodales aliquam. Curabitur nisi. Quisque malesuada placerat nisl. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Mauris sollicitudin fermentum libero. Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci. Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Morbi mollis tellus ac sapien. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Fusce vel dui. Sed in libero ut nibh placerat accumsan. Proin faucibus arcu quis ante. In consectetuer turpis ut velit. Nulla sit amet est. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Suspendisse feugiat. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Praesent nec nisl a purus blandit viverra. Praesent ac massa at ligula laoreet iaculis. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Fusce pharetra convallis urna. Quisque ut nisi. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Suspendisse non nisl sit amet velit hendrerit rutrum. Ut leo. Ut a nisl id ante tempus hendrerit. Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Suspendisse eu ligula. Nulla facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Ut id nisl quis enim dignissim sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Proin magna. Duis vel nibh at velit scelerisque suscipit. Curabitur turpis. Vestibulum suscipit nulla quis orci. Fusce ac felis sit amet ligula pharetra condimentum. Maecenas egestas arcu quis ligula mattis placerat. Duis lobortis massa imperdiet quam. Suspendisse potenti. Pellentesque commodo eros a enim. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Sed libero. Aliquam erat volutpat. Etiam vitae tortor. Morbi vestibulum volutpat enim. Aliquam eu nunc. Nunc sed turpis. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Nulla porta dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Pellssidasjdisajdiasjdiasjdasijdasidjasidjsaidjasidasjdiasjdiasjdiasjdiasjiascjasiiisajdiajsdisajdisajdiasjdasiasjdasjfiajfidsfjdsifjdsifjdsifjdsifjdsifjdsifjdsifjdsifjdsifjdsifjidsfjdsifjdsifjdisfjidsfjdsifjidsjfdsifjidsjfidsjfidsjfidsjfidsjfisdjfidsjfidsjfidsjfidsjfdsi</p>
                  <button type="button" class="btn btn-primary u-align-center u-black u-border-none u-btn u-button-style u-custom-font u-font-oswald u-hover-grey-10 u-btn-2" data-bs-toggle="modal" data-bs-target="#Edit-post-modal" th:attr="data-bs-target='#Edit-post-modal'+${post.getPostId()}">Edit</button>
                <a href="#" th:href="@{/categories/{categoryId}/posts/{postId}/delete(categoryId=${category.getCategoryId()}, postId=${post.getPostId()})}" class="u-align-center u-black u-border-none u-btn u-button-style u-custom-font u-font-oswald u-hover-grey-10 u-btn-3">Delete<br>
                </a>
                  <p class="u-align-left u-custom-item u-text u-text-4"><span class="u-file-icon u-icon u-icon-1"><img src="images/456212.png" th:src="@{/assets/img/user-icon.png}" style="display: inline-block" alt=""></span><span style="display: inline-block"><a href="UserPage.html" th:href="@{/users/{userId}(userId=${post.getPostAuthor().getUserId()})}" data-page-id="819428057" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-grey-10 u-text-body-color u-text-hover-white u-btn-4" th:text="${post.getPostAuthor().getUsername()}">CreatedByUsername</a></span>
                </p>
                  <p class="u-align-left u-custom-item u-text u-text-5"><span class="u-file-icon u-icon u-icon-2"><img src="images/61469.png" th:src="@{/assets/img/date-icon.png}" alt="" style="display: inline-block"></span><span style="display: inline-block" th:text="${post.getPostTimestampFormatted()}">01 / 01 / 2022</span>
                </p>
                  <p class="u-text u-text-6"><span class="u-file-icon u-icon"><img src="images/1381635.png" alt="" th:src="@{/assets/img/comments-icon.png}"></span><span style="display: inline-block" th:text="${post.getComments().size()}">34</span>
                </p>
                  <p class="u-align-left u-custom-item u-text u-text-7"><span class="u-file-icon u-icon u-icon-4"><img th:src="@{/assets/img/like-icon.png}" src="images/633991.png" alt="" style="display: inline-block"></span><span style="display: inline-block"><a href="UserPage.html" data-page-id="819428057" class="u-btn u-button-link u-button-style u-none u-text-active-grey-10 u-text-body-color u-text-hover-white u-btn-5" th:text="${post.getLikesList().size()}">56</a></span>
                </p>
                  <div id="Edit-post-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:id="Edit-post-modal+${post.getPostId()}">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <form th:action="@{/categories/{categoryId}/posts/{postId}/update(category = ${category.getCategoryId()}, postId=${post.getPostId()})}" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;" >
                                      <div class="u-form-group u-form-group-1">
                                          <label for="text-3ef4" class="u-custom-font u-font-oswald u-label">Title</label>
                                          <textarea type="text" placeholder="Please enter the new title of your post" id="text-3ef4" name="updateTitle" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" th:text="${post.getPostTitle()}"></textarea>
                                      </div>
                                      <div class="u-form-group u-form-message">
                                          <label for="message-17b0" class="u-custom-font u-font-oswald u-label">Content</label>
                                          <textarea placeholder="Please enter the content of your post" rows="4" cols="50" id="message-17b0" name="updateContent" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" th:text="${post.getPostContent()}"></textarea>
                                      </div>
                                      <div class="u-align-left u-form-group u-form-submit">
                                          <!--                          <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</a>-->
                                          <button type="submit" value="submit" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</button>
                                      </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          </div>
    </section>

  <div id="Post-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                      <div class="u-form-group u-form-group-1">
                          <label for="text-3ef4" class="u-custom-font u-font-oswald u-label">Title</label>
                          <input type="text" placeholder="Please enter the title of your post" id="text-3ef4" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-message">
                          <label for="message-17b0" class="u-custom-font u-font-oswald u-label">Content</label>
                          <textarea placeholder="Please enter the content of your post" rows="4" cols="50" id="message-17b0" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                          <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</a>
                          <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                  </form>
              </div>
              <div class="modal-footer">
              </div>
          </div>
      </div>
  </div>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3760"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">This is a project created for the learning purposes of Telerik Academy by Yordan Bradushev and Ivan Petkov</p>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f155"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-f155"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-45da"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-45da"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6cc2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-6cc2"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
      </div></footer>
  <script>
      $(document).ready(function(){
          $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $(".dropdown-menu li").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
          });
      });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>