<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Black Friday">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>EditProfile</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
      <link rel="stylesheet" href="../static/css/EditProfile.css" th:href="@{/css/EditProfile.css}" media="screen">
      <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.7.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/name",
				"https://instagram.com/name"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="EditProfile">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="EditProfile">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-black u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-header" id="sec-e9b0"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-text u-text-1">
      <a class="u-border-active-palette-2-base u-border-hover-black u-border-none u-btn u-button-style u-hover-black u-none u-text-body-alt-color u-btn-1" href="Home.html" th:href="@{/home}" data-page-id="95484689">FOODIES</a>
    </p>
    <div class="u-image u-image-circle u-preserve-proportions u-image-1" th:style="'background-image:url('+ ${session.currentUser.getProfilePictureUrl()} +');'" alt=""></div>
    <a href="#" th:href="@{/users/{userId}(userId=${session.currentUser.getUserId()})}" th:text="${session.currentUser.getUsername()}" class="u-border-1 u-border-active-black u-border-hover-palette-5-base u-btn u-button-style u-custom-font u-font-oswald u-none u-text-body-alt-color u-btn-2">Username</a>
    <a th:href="@{/auth/logout}" class="u-border-1 u-border-active-black u-border-hover-palette-5-base u-btn u-button-style u-custom-font u-font-oswald u-none u-text-body-alt-color u-btn-3">Log out</a>
    <form action="#" method="get" class="u-border-1 u-border-grey-30 u-search u-search-left u-search-1">
      <button class="u-search-button" type="submit">
            <span class="u-search-icon u-spacing-10">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9a04"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-9a04" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
            </span>
      </button>
      <label>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
      </label>
    </form>
  </div></header>
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-5231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form action="#" method="post" th:action="@{/users/{userId}/update(userId=${userId})}" th:object="${user}" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-c6a2" class="u-custom-font u-font-oswald u-label">First name</label>
              <input type="text" th:field="*{firstName}" placeholder="Enter a new first name" id="name-c6a2" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-c6a2" class="u-custom-font u-font-oswald u-label">Last name</label>
              <input type="text" th:field="*{lastName}" placeholder="Or enter a new last name?" id="email-c6a2" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-group-3">
              <label for="text-b432" class="u-custom-font u-font-oswald u-label">Email address</label>
              <input type="email" th:field="*{email}" placeholder="A new email address, perhaps?" id="text-b432" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-group u-form-group-4">
              <label for="text-54b1" class="u-custom-font u-font-oswald u-label">Password</label>
              <input type="password" th:field="*{password}" placeholder="Ohh... a new password, I see!" id="text-54b1" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-1fe7" class="u-custom-font u-font-oswald u-label">Confirm passsword</label>
              <input type="password" th:field="*{confirmPassword}" placeholder="Please confirm the new password" id="text-1fe7" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
              <div class="u-form-group u-form-group-5" th:if="${session.currentUser.getUserRole().getUserTypeName()} == 'Admin'">
                  <label for="text-1fe7" class="u-custom-font u-font-oswald u-label">Phone number</label>
                  <input type="text" placeholder="Enter phone number" id="phoneNumber" name="phoneNumber" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
              </div>
            <div class="u-align-left u-form-group u-form-submit">
<!--              <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</a>-->
              <button type="submit" value="submit" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</button>
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
        <img class="u-image u-image-default u-image-1" th:src="${user.getPhotoUrl()}" src="images/95484689-0-19.png" alt="" data-image-width="500" data-image-height="499">
        <div class="u-form u-block-7636-24">
        <form action="#" th:action="@{/users/{userId}/save-photo(userId = ${userId})}" method="post" enctype="multipart/form-data" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-1" style="padding: 10px;">
          <input type="hidden" id="siteId" name="siteId" value="364902512">
          <input type="hidden" id="pageId" name="pageId" value="1973217">
          <div class="u-form-group u-form-name u-block-7636-25">
            <label for="file" class="u-label u-block-7636-26">Upload your profile photo</label>
            <input type="file" id="file" name="file" class="form-control-file">
          </div>
          <div class="u-align-left u-form-group u-form-submit u-block-7636-34">
<!--            <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-block-7636-35">Submit</a>-->
            <button type="submit" value="submit" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-block-7636-35">Upload photo</button>
          </div>
        </form>
        </div>
      </div>
        <form action="#" method="post" th:action="@{/users/{userId}/delete(userId = ${userId})}">
<!--        <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-block-7636-23">Delete user</a>-->
        <button type="submit" class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-block-7636-23">Delete user</button>
        </form>
    </section>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3760"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">This is a project created for the learning purposes of Telerik Academy by Yordan Bradushev and Ivan Petkov</p>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f155"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-f155"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-45da"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-45da"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6cc2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-6cc2"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
      </div></footer>
  </body>
</html>