<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome to Foodies!, Sharing the love!, 12,345, 7,345, 15,312">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>LandingHome</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
<link rel="stylesheet" href="../static/css/LandingHome.css" th:href="@{/css/LandingHome.css}" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">







    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/name",
				"https://instagram.com/name"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="LandingHome">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="LandingHome">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="LandingHome.html" data-home-page-title="LandingHome" class="u-body u-overlap u-overlap-contrast u-palette-1-base u-xl-mode">
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" data-image-width="1280" data-image-height="960" id="sec-82c6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-oswald u-text u-text-default u-title u-text-1">Welcome to Foodies!</h1>
        <p class="u-custom-font u-font-oswald u-large-text u-text u-text-variant u-text-2">The forum created to discuss, rate, and share your most exciting restaurant-going experiences!</p>
        <a th:href="@{/auth/login}" href="#" data-page-id="605230672" class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Login</a>
        <a th:href="@{/auth/register}" href="#" data-page-id="738517714" class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-black u-text-hover-white u-btn-2">register</a>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-2" id="sec-dd04">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-custom-font u-font-oswald u-text u-text-1">Sharing the love!</h2>
          </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-2" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000" th:text="${usersCount}">12,345</h1>
                <p class="u-custom-font u-font-oswald u-text u-text-3">Users registered<br>
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-4" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000" th:text="${postsCount}">7,345</h1>
                <p class="u-custom-font u-font-oswald u-text u-text-5">Posts created</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h1 class="u-custom-font u-font-oswald u-text u-title u-text-6" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000" th:text="${commentsCount}">15,312</h1>
                <p class="u-custom-font u-font-oswald u-text u-text-7">Comments posted</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-4" id="sec-6af5">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-1">Most commented posts</h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item" th:each="post : ${mostCommented}">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-group-1">
                                <div class="u-container-layout">
                                    <h6 class="u-custom-font u-custom-item u-font-oswald u-text u-text-2">
                                        <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1" th:text="${post.getPostTitle()}">Mock post title</a>
                                    </h6>
                                    <p class="u-custom-item u-text u-text-3" th:text="${post.getPostContent()}">This is the beginning of the text of the content of the post, etc.</p>
                                    <p class="u-align-left u-custom-item u-text u-text-4">
                                        <a class="u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2" th:href="@{UserPage.html}" href="UserPage.html" data-page-id="819428057"><span style="display: inline-block" class="u-file-icon u-icon u-icon-1"><img src="/static/assets/img/user-icon.png" th:src="@{/assets/img/user-icon.png}" alt=""></span><span style="display:inline-block" th:text="${post.getPostAuthor().getUsername()}">CreatedByUsername</span>
                                        </a>
                                    </p>
                                    <p class="u-align-center u-custom-item u-text u-text-5"><span style="display: inline-block" class="u-file-icon u-icon u-icon-2"><img src="/static/assets/img/like-icon.png" th:src="@{/assets/img/like-icon.png}" alt=""></span><span style="display: inline-block" th:text="${post.getLikesList().size()}">56</span>
                                    </p>
                                    <p class="u-align-right u-custom-item u-text u-text-6"><span style="display: inline-block" class="u-file-icon u-icon u-icon-3"><img src="/static/assets/img/date-icon.png" th:src="@{/assets/img/date-icon.png}" alt=""></span><span style="display: inline-block" th:text="${post.getPostTimestampFormatted()}">01 / 01 / 2022</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-4" id="sec-6af6">
      <div class="u-clearfix u-sheet u-sheet-1">
          <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-1">Most recent posts</h2>
          <div class="u-expanded-width u-list u-list-1">
              <div class="u-repeater u-repeater-1">
                  <div class="u-container-style u-custom-item u-list-item u-repeater-item" th:each="post : ${recentlyCreated}">
                      <div class="u-container-layout u-similar-container u-container-layout-1">
                          <div class="u-container-style u-expanded-width u-group u-group-1">
                              <div class="u-container-layout">
                                  <h6 class="u-custom-font u-custom-item u-font-oswald u-text u-text-2">
                                      <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1" th:text="${post.getPostTitle()}">Mock post title</a>
                                  </h6>
                                  <p class="u-custom-item u-text u-text-3" th:text="${post.getPostContent()}">This is the beginning of the text of the content of the post, etc.</p>
                                  <p class="u-align-left u-custom-item u-text u-text-4">
                                      <a class="u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2" th:href="@{UserPage.html}" href="UserPage.html" data-page-id="819428057"><span style="display: inline-block" class="u-file-icon u-icon u-icon-1"><img src="/static/assets/img/user-icon.png" th:src="@{/assets/img/user-icon.png}" alt=""></span><span style="display:inline-block" th:text="${post.getPostAuthor().getUsername()}">CreatedByUsername</span>
                                      </a>
                                  </p>
                                  <p class="u-align-center u-custom-item u-text u-text-5"><span style="display: inline-block" class="u-file-icon u-icon u-icon-2"><img src="/static/assets/img/like-icon.png" th:src="@{/assets/img/like-icon.png}" alt=""></span><span style="display: inline-block" th:text="${post.getLikesList().size()}">56</span>
                                  </p>
                                  <p class="u-align-right u-custom-item u-text u-text-6"><span style="display: inline-block" class="u-file-icon u-icon u-icon-3"><img src="/static/assets/img/date-icon.png" th:src="@{/assets/img/date-icon.png}" alt=""></span><span style="display: inline-block" th:text="${post.getPostTimestampFormatted()}">01 / 01 / 2022</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
background-color: #000000 !important
}</style>




    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3760"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">This is a project created for the learning purposes of Telerik Academy by Yordan Bradushev and Ivan Petkov</p>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f155"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-f155"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-45da"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-45da"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6cc2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-6cc2"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
      </div></footer>
    <span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px" class="u-back-to-top u-grey-10 u-icon u-icon-circle u-opacity u-opacity-85 u-spacing-15" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>
  </body>
</html>