<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="YourMostExcitingFoodieExperiences​">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" href="../static/css/Home.css" th:href="@{/css/Register.css}" media="screen">
    <!--    <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "sameAs": [
            "https://facebook.com/name",
            "https://twitter.com/name",
            "https://instagram.com/name"
        ]
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Register">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Register">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-image u-section-1"
         id="carousel_694a" data-image-width="1280" data-image-height="720">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">
          <span style="font-size: 3.75rem;">Your<br>Most<br>Exciting<br>Foodie<br>Experiences
          </span>
        </h1>
        <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-2">Register<br> Now&nbsp;<br>And<br>Begin<br>Sharing
        </h3>
        <div class="u-border-2 u-border-black u-form u-grey-25 u-form-1">
            <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" name="form"
                  style="padding: 10px;">
                <div class="u-form-group u-form-name">
                    <label for="name-f8bb" class="u-custom-font u-font-oswald u-label u-label-1">First name</label>
                    <input type="text" th:field="*{firstName}" placeholder="Enter your first name" id="name-f8bb"
                           name="firstname" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           required="">
                    <label class="error" th:errors="*{firstName}">Password error placeholder</label>
                </div>
                <div class="u-form-group u-form-group-2">
                    <label for="text-9daa" class="u-custom-font u-font-oswald u-label u-label-2">Last name</label>
                    <input type="text" th:field="*{lastName}" placeholder="Enter your last name" id="text-9daa"
                           name="lastname" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           required="required">
                    <label class="error" th:errors="*{lastName}">Password error placeholder</label>
                </div>
                <div class="u-form-group u-form-group-3">
                    <label for="text-1e8c" class="u-custom-font u-font-oswald u-label u-label-3">Username</label>
                    <input type="text" th:field="*{username}" placeholder="Enter your username" id="text-1e8c"
                           name="username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           required="required">
                    <label class="error" th:errors="*{username}">Password error placeholder</label>
                </div>
                <div class="u-form-email u-form-group">
                    <label for="email-f8bb" class="u-custom-font u-font-oswald u-label u-label-4">Email</label>
                    <input type="email" th:field="*{email}" placeholder="Enter a valid email address" id="email-f8bb"
                           name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           required="">
                    <label class="error" th:errors="*{email}">Password error placeholder</label>
                </div>
                <div class="u-form-group u-form-group-5">
                    <label for="text-dedf" class="u-custom-font u-font-oswald u-label u-label-5">Password</label>
                    <input type="password" th:field="*{password}" placeholder="Please enter your password" id="text-dedf"
                           name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           required="required">
                    <label class="error" th:errors="*{password}">Password error placeholder</label>
                </div>
                <div class="u-form-group u-form-group-5">
                    <label for="text-a9df" class="u-custom-font u-font-oswald u-label u-label-5">Repeat password</label>
                    <input type="password" th:field="*{confirmPassword}" placeholder="Please repeat your password"
                           id="text-a9df" name="text"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-block-69dc-28"
                           required="required">
                    <label class="error" th:errors="*{confirmPassword}">Password error placeholder</label>
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                    <!--              <a th:href="@{/auth/register}" href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Submit</a>-->
                    <button type="submit" value="submit"
                            class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">
                        Submit
                    </button>
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then
                    try again.
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3760">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">This is a project created for the learning
            purposes of Telerik Academy by Yordan Bradushev and Ivan Petkov</p>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
            <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span
                    class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                 preserveAspectRatio="xMidYMin slice"
                                                                                 viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f155"></use></svg><svg
                    class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-f155"><circle fill="currentColor"
                                                                                                  cx="56.1" cy="56.1"
                                                                                                  r="55"></circle><path
                    fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
            </a>
            <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span
                    class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                preserveAspectRatio="xMidYMin slice"
                                                                                viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-45da"></use></svg><svg
                    class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-45da"><circle fill="currentColor"
                                                                                                  class="st0" cx="56.1"
                                                                                                  cy="56.1"
                                                                                                  r="55"></circle><path
                    fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
            </a>
            <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span
                    class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                  preserveAspectRatio="xMidYMin slice"
                                                                                  viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6cc2"></use></svg><svg
                    class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-6cc2"><circle fill="currentColor"
                                                                                                  cx="56.1" cy="56.1"
                                                                                                  r="55"></circle><path
                    fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                    fill="#FFFFFF"
                    d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                    fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
            </a>
        </div>
    </div>
</footer>
</body>
</html>